#clip {
    background-color: black;
    border: 4px;
    padding: 35px;
}
.logo{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
ul{background-color: #333; margin: 0;padding: 0; list-style-type: none; overflow: auto;}
		li{float: right;}
		li a{display: inline-block;color: white;padding: 14px 16px;text-align: center;text-decoration: none;}
		li a:hover{background-color: green}
#banner{
    size: 100%, 400px;
}
		